@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  /* overflow-y: hidden; */
  /* scroll-snap-align: start; */
  /* scroll-snap-stop: normal; */
  animation: slide-in-left 2s ease;
}

.about-text-container {
  background-color: #ffc0a1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  /* overflow: scroll; */
  align-items: left;
  padding: 30px;
  text-align: center;
  line-height: 1.3;
  /* width: 60vw; */
}

#second {
  margin-top: 5vh;
  animation: slide-in 2s ease;
  justify-content: center;
}

.jump {
  margin: 2vw;
  padding: 1vw;
  font-weight: 300;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

@media (min-width: 1025px) {
  .about-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    /* height: 90vh; */
  }

  #second {
    flex-direction: row-reverse;
  }

  #second-text {
    background-color: transparent;
  }

  #table-photo {
    object-fit: cover;
    height: auto;
    max-width: 40vw;
  }

  #gardens-photo {
    object-fit: cover;
    height: auto;
    max-width: 40vw;
    /* align-self: center; */
  }
}