@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

.about-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  /* animation: slide-in-left 2s ease; */
}

#table-photo {
  height: 80%;
  /* position: relative;
  justify-self: start;
  height: 130vh;
  transform: translateY(-35vh); */
}

.about-text-container {
  background-color: #ffc0a1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: left;
  padding: 5vw;
  text-align: center;
  line-height: 1.3;
  /* width: 60vw; */
}

#second {
  margin-top: 5vh;
  animation: slide-in 2s ease;
}

#second-text {
  background-color: transparent;
}

#gardens-photo {
  justify-self: end;
}

.jump {
  position: relative;
  justify-self: center;
  align-self: center;
  margin: 2vw;
  padding: 1vw;
  font-weight: 300;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

@media (min-width: 1025px) {
  .about-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    height: 90vh;
    width: 100vw;
    margin-top: 3vh;
    overflow-y: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    scroll-margin: 10px;
    animation: slide-in-left 2s ease;
  }
}