@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

.appears {
  margin: 5vw;
  text-align: center;
}

.interestphotos {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.interestphotos img {
  height: 20rem;
  border-radius: 30px;
  outline: 4px solid black;
}

.interestphotos img:hover {
  transform: scale(1.01);
  filter: brightness(95%);
}
